.firstMassage{
  border-radius: 20px 30px 0 20px;
}

.time{
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-indent: 0;
}

.answerFirstMessage{
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57%);
}

.bedAnswer{
  background-color: var(--black-background-transparent-color);
  padding: 5px 0;
  border-radius: 20px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.badSpan{
  display: inline-block;
  position: relative;
}

.divInBadSpan{
  display: flex;
  position: absolute;
  top: 0;
  left: 5%;
  transform: translateY(-60%);
}